/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  color: #8B7969;
  font-size: 18px;
  font-family: Helvetica, "游ゴシック", sans-serif;
}

h1 {
  font-family: 'Inika', serif;
  padding: 20px 0;
  font-size: 30px;
}

input,
select,
textarea {
  background-color: #f4f4f4;
  padding: 0 20px;
  margin: 0 10px;
  border: none;
  font-size: 14px;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid #8B7969;
}

input[type="radio"]:checked {
  border-color: #8B7969;
  background-color: #8B7969;
}

textarea {
  padding: 20px;
  margin-bottom: 20px;
}

.header {
  border-bottom: solid 1px #E0DFDE;
  font-family: 'Inika', serif;
  display: flex;
  justify-content: center;
  position: relative;
}

.header__inner {
  padding: 20px 15px;
  text-align: center;
}

.header__logo {
  color: #8B7969;
  text-decoration: none;
  font-weight: bold;
  font-size: 34px;
}

.header__button {
  width: 80px;
  padding: 10px 0;
  position: absolute;
  top: 22px;
  right: 20px;
  background-color: #f6f6f6;
  border: 1px solid;
  text-align: center;
  text-decoration: none;
  color: #D9C6B5;
  font-size: 14px;
  font-family: 'Inika', serif;
  cursor: pointer;
}

.button__area {
  margin: 20px 0;
  text-align: center;
}

.common-button {
  padding: 15px 30px;
  background-color: #8B7969;
  border: 0 solid;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.common-button.disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.error-message {
  font-size: 16px;
  color: #ff9494;
}

.auth__content {
  background-color: #F1ECE7;
  height: 90vh;
}

.auth__heading {
  text-align: center;
  padding-top: 30px;
}

.auth__form {
  border: 1px solid #C5B9B0;
  border-radius: 4px;
  background-color: #fff;
  width: 50%;
  height: 75%;
  margin: 40px auto;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
}

.auth__form__group {
  margin: 20px 0;
}

.auth__form__input {
  width: 100%;
  height: 45px;
}